.addnote{
    display: flex;
    height: 6vh;
    width: 38vw;
    position: relative;
    align-items: center;
    justify-content: center;
    left: 33%;
    border: 1.5px solid lightgray;
    border-radius: 3.5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.text{
    display: flex;
    height: 100%;
    width: 95%;
    align-items: center;
}
