.notethree-main{
    display: flex;
    height: 21.5vh;
    width: 18vw;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-right: 12px;
    margin-bottom: 12px;
    border: 1.5px solid #d3d3d3;
    border-radius: 3.5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
}
/* .titlethree{
    display: flex;
    width: 93%;
    height: 35%;
    align-items:center;
} */
.takenote{
    display: flex;
    width: 93%;
    height: 40%;
    align-items: center;
}
.bottomthree-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 93%;
    height: 25%;
    gap:12%;
}
