.main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}
.main-register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53%;
    height: 80%;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.form{
    display: flex;
    height: 98%;
    width: 65%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5%;
}
.logo{
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 85%;
    justify-content: flex-start;
    position: relative;
    right: 23px;
}
.logo-text{
    display: flex;
    height: 7%;
    width: 85%;
    font-size: 24px;
    justify-content: flex-start;
    align-items: flex-start;
}
.full-name{
    display: flex;
    flex-direction: row;
    height: 12%;
    width: 85%;
    gap: 3%;
    justify-content: flex-start;
}

.username{
    display: flex;
    flex-flow: row wrap;
    height: 14%;
    width: 80%;
    position: relative;
    right: 2.4%;
}

.first-link{
    display: flex;
    height: 8%;
    width: 85%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
   
}
.password-input{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 14%;
    width: 85%;
    gap: 2%;
    justify-content: flex-start;
}
.pass-text{
    height: 25%;
    width: 85%;
}
small{
    display: flex;
    color: #454545;
    position: relative;
    left: 7px;
}
a{
    text-decoration: none;
    color: #4c8bf5;
}

.account-img{
    display: flex;
    height: 100%;
    width: 36%;
    flex-direction: column;
    justify-content: center;
}
.a-imh{
    height: 32%;
    width: 95%;
}
.text-img{
    height: 10%;
    width: 100%;
}
.four{
    display: flex;
    height: 19%;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 2.5%;
}
button{
    border-radius: 5px;
    background-color:  #4c8bf5;
    color: white;
    height: 50%;
    width: 18%;
    font-size: 18px;
}