.main-su{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}
.main-su-register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53%;
    height: 80%;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.form-su{
    display: flex;
    height: 98%;
    width: 65%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5%;
}
.logo-su{
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 85%;
    justify-content: flex-start;
    position: relative;
    right: 23px;
}
.logo-su-text{
    display: flex;
    height: 7%;
    width: 85%;
    font-size: 24px;
    justify-content: flex-start;
    align-items: flex-start;
}
.full-su-name{
    display: flex;
    flex-direction: row;
    height: 11%;
    width: 85%;
    gap: 3%;
    justify-content: flex-start;
}
.firstName-su{
     display: flex;
     width: 50%;
}
.lastName-su{
    display: flex;
    width: 50%;
}

.username-su{
    display: flex;
    flex-flow: row wrap;
    height: 12%;
    width: 85%;
}

.first-su-link{
    display: flex;
    height: 9%;
    width: 85%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
   
}
.password-su-input{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    height: 12%;
    width: 85%;
    justify-content: flex-start;
}
.passone-su{
    display: flex;
    width: 48%;
}
.passtwo-su{
    display: flex;
    width: 48%;
}
.pass-su-text{
    height: 25%;
    width: 85%;
}
small{
    display: flex;
    color: #454545;
    position: relative;
    left: 7px;
}
a{
    text-decoration: none;
    color: #4c8bf5;
}

.account-su-img{
    display: flex;
    height: 100%;
    width: 36%;
    flex-direction: column;
    justify-content: center;
}
.a-su-imh{
    height: 32%;
    width: 95%;
}
.text-su-img{
    height: 10%;
    width: 100%;
}
.four-su{
    display: flex;
    height: 19%;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 2.5%;
}
 button{
    border-radius: 5px;
    background-color:  #4c8bf5;
    color: white;
    height: 50%;
    width: 18%;
    font-size: 18px;
} 
@media only screen and (min-width: 320px) and (max-width: 480px){
      .main-su-register{
        width: 100%;
        height: 100%;
        border: none;
      }
      .form-su{
        height: 90%;
        width: 100%;
        top: 4%;
      }
      .logo-su{
        height: auto;
        width: 66%;
        position: relative;
        right: 10%;
      }
      .logo-su-text{
        flex-wrap: wrap;
        height: 9%;
        width: 88%;
        font-size: 1.4rem;
        position: relative;
        left: 2%;
      }
      .full-su-name{
        display: flex;
        flex-direction: column;
        height: 20%;
        gap: 2%;
      }
      .firstName-su{
        width: 100%;
      }
      .lastName-su{
        width: 100%;
      }
      .password-su-input{
        height: 32%;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2%;
      }
      .passone-su{
        width: 100%;
      }
      .passtwo-su{
        width: 100%;
      }
      .four-su{
        width: 87%;
        left: 0.8%;
        bottom: 4%;
      }
      .account-su-img{
        display: none;
      }
     
    }
    @media only screen and (min-width: 481px) and (max-width: 768px){
        .main-su-register{
          width: 100%;
          height: 100%;
          border: none;
        }
        .form-su{
          height: 90%;
          width: 90%;
          border: 1px solid lightgray;
          border-radius: 10px;
        }
         .logo-su{
          width: 50%;
          height: auto;
          position: relative;
          right: 17.5%;
        }
        .account-su-img{
            display: none;
          }
}
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .main-su-register{
        width: 85%;
        height: 85%;
      }
      .logo-su{
        width: 66%;
        height: auto;
        position: relative;
        right: 10%;
      }
      
}